# Environment
.env
backend/.env

# Dependencies
node_modules/

# Build
frontend/dist/
frontend/dev-dist/

# Logs
*.log
npm-debug.log*

# Backups and Compressed Archives
*.zip
*.rar
*.tar.gz

# IDE and Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS/System Files
.DS_Store
Thumbs.db

# Local files
tecnologias.json
